<%= form_for(makal) do |f| %>
  <% if makal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(makal.errors.count, "error") %> prohibited this makal from being saved:</h2>

      <ul>
      <% makal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :kg %>
    <%= f.text_field :kg %>
  </div>

  <div class="field">
    <%= f.label :tr %>
    <%= f.text_field :tr %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
