<p id="notice"><%= notice %></p>

<p>
  <strong>Kg:</strong>
  <%= @makal.kg %>
</p>

<p>
  <strong>Tr:</strong>
  <%= @makal.tr %>
</p>

<p>
  <strong>Description:</strong>
  <%= @makal.description %>
</p>

<%= link_to 'Edit', edit_makal_path(@makal) %> |
<%= link_to 'Back', makals_path %>
