<div class="container" style="text-align:left" >

  <h3>Most searched words</h3>
  <div class="row">
    <div class="col-md-3">
      <h3>Word</h3>
    </div>
    <div class="col-md-3">
      <h3>Translation</h3>
    </div>
    <div class="col-md-3  ">
      <h3>Example</h3>
    </div>
    <div class="col-md-3  ">
      <h3>Search counter</h3>
    </div>
  </div>
  <% @sorted = Word.all.order(:range).reverse %>
  <% @sorted.each do |most| %>

    <div class="row" >

      <div class="col-md-3" style="float:left;">
        <%= most.word %>
      </div>
      <div class="col-md-3">
        <%= most.translation %>
      </div>
      <div class="col-md-3">
        <%= most.definition.html_safe %>
      </div>
      <div class="col-md-3">
        <%= most.range %>
      </div>

    </div>
<% end %>
</div>

<%= link_to "Create PDF",words_path(current_user, format: 'pdf') %>
