<%= form_for(wordrepo) do |f| %>
  <% if wordrepo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wordrepo.errors.count, "error") %> prohibited this wordrepo from being saved:</h2>

      <ul>
      <% wordrepo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :wordlist_id %>
    <%= f.text_field :wordlist_id %>
  </div>

  <div class="field">
    <%= f.label :word_id %>
    <%= f.text_field :word_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
