<div class="navbar navbar-default">
  <div class="col-sm-4 csd-text">
     <!-- <%= image_tag("elsoz.jpg", class: "logo", size: "120x90",  :alt => "el_sozduk LOGO") %> -->
     <h2 style="width:50%height:90px; color: #bfff00; margin-top:8%; font-family: 'Bangers', cursive;">Kyrgyz-Turkish</h2> <h2 style= "width:50%height:90px; font-family: 'Bangers', cursive; color: #bfff00; margin-top:2%;">Dictionary</h2><br>
  </div>
  <div class="col-sm-6 csd-text"></div>
  <div class="col-sm-2 csd-text">
     <%= image_tag("Ala-Too.png", class: "logo", size: "90x90",  :alt => "University logo") %>
  </div>
    <div class="container">

       <div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu">
               <span class="sr-only">Открыть навигацию</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
           </button>


           <%= link_to 'Dictionary', root_path, class: "navbar-brand" %>
       </div>
       <div class="collapse navbar-collapse" id="responsive-menu">
           <ul class="nav navbar-nav">

              <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t "second.about" %><b class="caret"></b></a>
                 <ul class="dropdown-menu">
                    <li><%= link_to "Contact", root_path %></li>
                    <li class="divider"></li>
                    <li><%= link_to "info", root_path %></li>
                 </ul>
              </li>

              <% if user_signed_in? %>
              <li>
                <%= link_to "Dashboard", rails_admin_path, :class => 'active' if current_user.role=='admin'  %>
              </li>
              <li><%= link_to "Add new word", new_word_path, :class => 'active' if current_user.role=='admin'  %></li>
              <% end %>


           </ul>
           <div>

              <div class="login">
                <% if user_signed_in? %>
                 <p> <%= link_to "Dashboard",  edit_user_registration_path, class: "btn btn-info navbar-right login-btn" %>  </p>
                 <p> <%= link_to  "Logout", destroy_user_session_path , method: :delete , class: "btn btn-danger navbar-right login-btn", locale: "en" %> </p>
                 <% else %>
                 <p> <%= link_to  "Login", new_user_session_path , class:"btn btn-success navbar-right login-btn", locale: "en" %> </p>
                 <p> <%= link_to  "Sign up", new_user_registration_path , class:"btn btn-success navbar-right login-btn", locale: "en" %> </p>
                 <% end %>

              </div>

           </div>
       </div>
   </div>
</div>
